<h1>PLAYER STATS</h1>

<h3>Please insert your player stats in the following form</h3>

<ul>
  {{#each player}}

  	<li>
  	   <p>ID: {{this.id}}</p>
       <button type="submit">Update Stats</button>
       <button type="submit">Delete Player</button>
       <p><b>Player Name:</b> {{this.player_name}}</p>
       <p><b>Player Type:</b> {{this.player_type}}</p>
       <p><b>Player Aggression (%):</b> {{this.player_aggression}}</p>
       <p><b>Player Win Rate (%):</b> {{this.player_winRate}}</p>
       <p><b>Player BB/100 hands:</b>{{this.player_bb_per100}}</p>
       <p><b>Total Games Played:</b> {{this.games_played}}</p>
  	</li>
  {{/each}}
</ul>

<div>
  <form action="/api/player" method="POST">
  	<textarea type="text" name="player_name"></textarea>
    <textarea type="text" name="player_type"></textarea>
    <textarea type="text" name="player_aggression"></textarea>
    <textarea type="text" name="player_winRate"></textarea>
    <textarea type="text" name="player_bb_per100"></textarea>
    <textarea type="text" name="games_played"></textarea>


  	<button type="submit">Submit</button>
  </form>
</div>
